/* 深蓝 */
[data-theme="darkBlue"] {
  --them-head-bg-color: #081947;
  --them-head-font-color: #ffffff;

  --them-logo-bg-color: #081947;
  --them-logo-font-color: #ffffff;

  --them-menu-bg-color: #081947;
  --them-menu-hove-color: #1677ff;
  --them-menu-font-color: #ffffff;

  --them-main-bg-color: #081947;

  --them-image-url: url("");

  --main-color: #fff;
}
