/* 黑暗 */
[data-theme="dark"] {
  --them-head-bg-color: #1f1f1f;
  --them-head-font-color: #ffffff;

  --them-logo-bg-color: #1f1f1f;
  --them-logo-font-color: #ffffff;

  --them-menu-bg-color: #1f1f1f;
  --them-menu-hove-color: #1677ff;
  --them-menu-font-color: #ffffff;

  --them-main-bg-color: #1f1f1f;

  --them-image-url: url("");

  --main-color: #fff;
}
