/* 默认 */
[data-theme="light"] {
  --them-head-bg-color: #1677ff;
  --them-head-font-color: #ffffff;

  --them-logo-bg-color: #1677ff;
  --them-logo-font-color: #ffffff;

  --them-menu-bg-color: #ffffff;
  --them-menu-hove-color: #1677ff;
  --them-menu-font-color: #1f1f1f;

  --them-main-bg-color: #f2f6fc;

  --them-image-url: url("");

  --main-color: #1f1f1f;
}
